<div class="card">
  <div class="card__body">
    <%= link_to weightloss.weight, weightloss_path(weightloss), class: :card__title%>
    <%= link_to weightloss.user.name, class: :card__user %>
  </div>
</div>
